<% include partials/header %>
    <div id='choose'>
        <a href="/login"><input class="btn btn-block btn-lg btn-dark" type="button" value="Login to your Account"></a><br>
        <p class="caption">Don't have an Account?</p>
        <a href="/registerFarmer"><input class="btn btn-block btn-lg btn-dark" type="button" value="Register as a Farmer"></a><br>
        <a href="/registerDistributor"><input class="btn btn-block btn-lg btn-dark" type="button" value="Register as a Distributor"></div>a>
    </div>
<% include partials/footer %>