<% include partials/header %>
    <div id='choose'>
        <a href="/login"><input class="btn col-md-3 btn-lg btn-dark" style="display:block; line-height: 70px; width:100%; text-align:center; margin:0 auto;" type="button" value="Login to your Account"></a><br>
        <p class="caption">Don't have an Account?</p>
        <a href="/registerFarmer"><input class="btn col-md-3 btn-lg btn-dark" style="display:block; line-height: 70px; width:100%; text-align:center; margin:0 auto;" type="button" value="Register as a Farmer"></a><br>
        <a href="/registerDistributor"><input class="btn col-md-3 btn-lg btn-dark" style="display:block; line-height: 70px; width:100%; text-align:center; margin:0 auto;" type="button" value="Register as a Distributor"></div>a>
    </div>
<% include partials/footer %>