<% include partials/header %>

<div class="container">
    <div class="row">
        <div class="formStyle">
            <h2 class="formTitle">Create a New Account</h2>
            <form action="/register" method="POST">
                <div class="form-group">
                    <input class="form-control form-control-lg" type="text" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg" type="password" name="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg" type="text" name="mobile" placeholder="Mobile">
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg" type="number" name="normalstorage" min="0" max="15" placeholder="Normal Storage">
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg" type="number" name="coldstorage" min="0" max="8" placeholder="Cold Storage">
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg" type="text" name="location" placeholder="Location">
                </div>
                <div class="form-group">
                    <input class="btn btn-block btn-dark btn-lg" type="submit" value="Sign Up">
                </div>
            </form>
            <p class="caption"><a href="/login">If you already have an Account, Login to your existing Account!</a><br><a href="/registerFarmer">Register as a Farmer instead</a></p>
        </div>
    </div>
</div>

<% include partials/footer %>